@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
html {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100%;
  background-color: #1a1a2e;
  padding-top: 16rem;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 0.6rem;
  background-color: #1a1a2e;
  font-size: 0.9rem;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style-type: none;
}

#home {
  position: absolute;
  top: 0;
  left: 0;
}

.bg-left {
  position: absolute;
  left: 0;
  opacity: 0.3;
  width: 25%;
  height: auto;
}

.bg-right {
  position: absolute;
  right: 0;
  opacity: 0.3;
  width: 25%;
  transform: scaleX(-1);
  height: auto;
}

.bg-center {
  display: none;
}

#menuToggle {
  display: none;
}

.invisible {
  color: transparent;
}

.invisible-label {
  position: fixed;
  color: transparent;
}

.navbar {
  overflow: hidden;
  background-color: #1d1e2c;
  display: flex;
  justify-content: space-between;
  color: #e94560;
  padding: 1.2rem;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #e94560;
  z-index: 100;
}

.navbar p {
  font-size: 1.7rem;
}

.navbar ul {
  display: flex;
}

.navbar li {
  margin: 0 1.5rem;
}

.navbar a {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 200;
}

#home-section {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

#home-section p {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

#home-section p:first-of-type {
  margin-bottom: 0;
}

#home-section h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
  color: #fff;
  font-weight: 400;
}

.home-buttons {
  margin-top: 6rem;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
}

.button {
  color: #e94560;
  padding: 0.25rem 2rem;
  font-weight: 300;
}

.button-navbar {
  border-bottom: 1px solid transparent;
  transition: border-color 0.6s linear;
}

.button-navbar:hover {
  border-color: #fff;
}

.button-cta {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  border: 2px solid #fff;
  padding: 1.4rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.button-cta:first-of-type {
  background-color: #e94560;
}

.button-cta:hover {
  background-color: #fff;
  color: #1a1a2e;
}

.projects-text {
  margin-top: 20rem;
}

h2 {
  font-size: 2.6rem;
  margin-bottom: 5rem;
  text-transform: none;
  font-weight: 400;
}

#projects {
  display: flex;
  flex-direction: column;
  padding: 10rem 2rem 10rem 2rem;
  justify-items: center;
  align-items: center;
  margin: 20rem 2% 0 2%;
}

#projects .projects-header {
  color: white;
  margin-bottom: -4rem;
}

.project-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  margin: 8rem auto 0rem auto;
  background-color: #1d1e2c;
  color: #fff;
  border: 0.2rem solid #e94560;
  transition: all 0.3s ease-in-out;
  position: relative;
  width: 80%;
  max-width: 75rem;
  overflow: auto;
}

.project-card-text:nth-of-type(odd) {
  margin-left: 2rem;
}

.project-card-text:nth-of-type(even) {
  margin-right: 2rem;
}

.project-card-text {
  text-align: center;
  width: 60%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-card-img {
  margin: 1rem 1rem;
  width: 40%;
  height: auto;
}

.project-card img {
  max-width: 100%;
  height: auto;
}

.project-card h2 {
  font-size: 2rem;
  margin-bottom: 5rem;
  text-transform: none;
  font-weight: 400;
}

.project-card a {
  font-size: 1.2rem;
  border: 0.13rem solid white;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  transition: all 0.3s ease-in-out;
}

.project-card a:hover {
  border-color: #e94560;
  border-width: 6px;
}

.project-card ul {
  display: flex;
  justify-content: center;
}

.project-card li {
  margin: 0 2rem;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 9px 8px 7px 2px rgba(0, 0, 0, 0.3);
}

#about {
  text-align: center;
  color: #fff;
  padding-top: 15rem;
  margin: 4rem 20% 4rem 20%;
}

.skill-container {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 1fr);
  font-size: 6rem;
  gap: 5%;
  justify-items: center;
}

.skill-container div {
  display: flex;
  margin-top: 4rem;
  flex-direction: column;
}

.skill-container p {
  margin-top: 1rem;
  font-size: 1rem;
}

.contact {
  margin-top: 16rem;
  padding: 2.2rem 0;
  text-align: center;
  color: #fff;
  background-color: #1d1e2c;
}

.contact-inner-container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2rem;
}

.contact-form-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  border: 4px solid #e94560;
  padding: 2rem 4rem;
}

.contact-form-container label {
  font-size: 1.2rem;
}

.contact-info-container {
  margin: auto;
}

.contact-info-inner {
  display: flex;
  background-color: #1a1a2e;
  border-radius: 2rem;
  padding: 0.4rem 2rem;
  margin: 4rem 0;
  align-items: center;
  justify-content: center;
}

.contact-info-icon {
  width: 3rem;
  height: auto;
}

.contact-info-text {
  font-size: 1.8rem;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}

.contact-info-text:hover {
  opacity: 0.8;
  transform: translateY(-4px);
}

input[type="text"],
[type="email"],
select,
textarea {
  width: 100%;
  color: #fff;
  padding: 0.8rem;
  background-color: #1a1a2e;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
  resize: vertical;
  font-size: 1rem;
  border: none;
}

textarea {
  height: 150px;
}

input[type="submit"] {
  font-size: 1rem;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2rem;
  padding: 0.4rem 2.3rem;
  font-weight: 300;
  background-color: #1d1e2c;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.5s;
}

input[type="submit"]:hover {
  background-color: #fff;
  color: #1a1a2e;
}

@media (max-width: 1300px) {
  .bg-left,
  .bg-right {
    top: 6%;
    width: 400px;
  }
  .navbar {
    flex-direction: column;
  }
  .navbar ul {
    margin-top: 1.8rem;
    margin-bottom: 0.5rem;
  }
  .navbar li {
    margin: 0 1.5rem;
  }
  .navbar .invisible {
    position: fixed;
  }
  #projects {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 1000px) {
  .bg-left,
  .bg-right {
    opacity: 0.3;
    top: 6%;
  }
  .navbar li {
    margin: 0 1rem;
  }
  .project-card {
    flex-direction: column;
  }
  .project-card h2 {
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }
  .project-card a {
    font-size: 1rem;
    border: 0.13rem solid white;
  }
  .project-card:nth-of-type(even) {
    flex-direction: column-reverse;
  }
  .project-card-text {
    margin-bottom: 2rem;
  }
  .project-card-text:nth-of-type(odd) {
    margin-left: 0;
  }
  .project-card-text:nth-of-type(even) {
    margin-right: 0;
  }
  .skill-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1%;
  }
  .contact-inner-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-info-container {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  #menuToggle {
    display: block;
    position: fixed;
    top: 2rem;
    left: 2rem;
    z-index: 1;
    user-select: none;
  }
  #menuToggle a {
    text-decoration: none;
    color: #e94560;
    transition: color 0.3s ease;
  }
  #menuToggle a:hover {
    color: #fff;
  }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #cdcdcd;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu {
    position: fixed;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #1d1e2c;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  #menuToggle input:checked ~ ul {
    transform: none;
  }
  .navbar {
    display: none;
  }
  body {
    padding-top: 6rem;
  }
  .bg-left,
  .bg-right {
    display: none;
  }
  .bg-center {
    display: initial;
    position: absolute;
    width: 100%;
    top: 5%;
    left: 0;
    opacity: 0.3;
  }
  .mobile-navbar ul {
    flex-direction: column;
    align-self: center;
    align-items: center;
  }
  .mobile-navbar ul > li {
    margin: 1rem 0;
  }
  .contact-form-container {
    padding: 2rem 2rem;
  }
}

@media (max-width: 500px) {
  .project-card {
    width: 100%;
  }
  #about {
    padding-top: 15rem;
    margin: 4rem 10% 4rem 10%;
  }
  #home-section p {
    font-size: 1.6rem;
  }
  #home-section h1 {
    font-size: 3.4rem;
  }
  #home-section a {
    font-size: 1.2rem;
    padding: 0.8rem 1.8rem;
  }
  .contact-inner-container {
    margin-top: 5rem;
    display: initial;
    padding-bottom: 2rem;
  }
  .contact-info-container a {
    font-size: 1.2rem;
  }
  html {
    font-size: 12px;
  }
}
