@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
html {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  height: 100%;
  font-size: 1rem;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100%;
  background-color: #1a1a2e;
  padding-top: 16rem;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 0.6rem;
  background-color: #1a1a2e;
  font-size: 0.9rem;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style-type: none;
}

#home {
  position: absolute;
  top: 0;
  left: 0;
}

#menuToggle {
  display: none;
}

.invisible {
  color: transparent;
}

.navbar {
  overflow: hidden;
  background-color: #16213e;
  display: flex;
  justify-content: space-between;
  color: #e94560;
  padding: 1.2rem;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #e94560;
  z-index: 100;
}

.navbar p {
  font-size: 1.7rem;
}

.navbar ul {
  display: flex;
  justify-self: center;
}

.navbar li {
  margin-right: 3rem;
}

.navbar a {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 200;
}

.button {
  color: #e94560;
  padding: 0.25rem 2rem;
  font-weight: 300;
}

.button-navbar {
  transition: box-shadow 0.4s linear;
}

.button-navbar:hover {
  box-shadow: 0px 1px 0px 0px #fff;
}

.bg-left {
  position: absolute;
  left: 0;
  opacity: 0.4;
}

.bg-right {
  position: absolute;
  right: 0;
  opacity: 0.4;
  transform: scaleX(-1);
}

.bg-center {
  display: none;
}

#home-section {
  text-align: center;
}

#home-section p {
  color: #fff;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

#home-section h1 {
  font-size: 4rem;
  color: #fff;
  font-weight: 400;
}

.projects-text {
  margin-top: 20rem;
}

.arrow-icon {
  color: #e94560;
  margin-top: 2rem;
  font-size: 3rem;
  transition: transform 0.3s ease-in-out;
}

.arrow-icon:hover {
  transform: translateY(10px);
  color: #fff;
}

#projects {
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
  justify-items: center;
  margin: auto 2%;
}

h2 {
  text-transform: uppercase;
  font-size: 2.6rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.project-card {
  display: flex;
  margin: 0 auto;
  margin-top: 8rem;
  flex-direction: column;
  max-width: 1200px;
  background-color: #16213e;
  color: #fff;
  padding: 2rem;
  text-align: center;
  align-items: center;
  border: 0.2rem solid #e94560;
  transition: all 0.3s ease-in-out;
}

.project-card h2 {
  font-size: 1.7rem;
  margin-bottom: 3rem;
  text-transform: none;
}

.project-card p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.project-card ul {
  margin-top: 4rem;
  display: flex;
}

.project-card li {
  margin: 0 2rem;
}

.project-card:hover {
  transform: translateY(-3px);
  box-shadow: 9px 8px 7px 2px rgba(0, 0, 0, 0.3);
}

.project-card-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.project-card-inner p {
  padding: 0 3rem;
}

.project-card-inner img {
  max-width: 400px;
}

#about {
  text-align: center;
  color: #fff;
  padding-top: 15rem;
  margin: 4rem 20% 4rem 20%;
}

#about p:nth-of-type(1) {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

#about p:nth-of-type(2) {
  margin-top: 6rem;
  font-size: 1.9rem;
}

.skill-container {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(5, 1fr);
  font-size: 6rem;
  gap: 5%;
  justify-items: center;
}

.skill-container img {
  height: 6rem;
  color: white;
}

.skill-container img:nth-of-type(3) {
  padding: 0.4rem;
}

.contact {
  margin-top: 16rem;
  padding: 2.2rem 0;
  text-align: center;
  color: #fff;
  background-color: #16213e;
}

.contact-inner-container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 2rem;
}

.contact-form-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  border: 4px solid #e94560;
  padding: 2rem 4rem;
}

.contact-form-container label {
  font-size: 1.2rem;
}

.contact-info-container {
  margin: auto;
}

.contact-info-inner {
  display: flex;
  background-color: #1a1a2e;
  border-radius: 2rem;
  padding: 0.4rem 2rem;
  margin: 4rem 0;
  align-items: center;
}

.contact-info-icon {
  margin: 0;
  font-size: 3rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.contact-info-text {
  font-size: 1.8rem;
  margin-left: 1rem;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}

.contact-info-icon:hover, .contact-info-text:hover {
  opacity: 0.7;
  transform: translateY(-4px);
}

input[type="text"],
[type="email"],
select,
textarea {
  width: 100%;
  color: #fff;
  padding: 0.8rem;
  background-color: #1a1a2e;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
  resize: vertical;
  font-size: 1rem;
  border: none;
}

textarea {
  height: 150px;
}

input[type="submit"] {
  font-size: 1rem;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2rem;
  padding: 0.4rem 2.3rem;
  font-weight: 300;
  background-color: #16213e;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.5s;
}

input[type="submit"]:hover {
  background-color: white;
  color: black;
}

@media (max-width: 1400px) {
  .bg-left,
  .bg-right {
    top: 8%;
    width: 400px;
  }
  .navbar ul > li {
    margin-right: 1.7rem;
  }
}

@media (max-width: 1000px) {
  .navbar {
    flex-direction: column;
  }
  .navbar ul {
    margin-top: 1.4rem;
    margin-bottom: 0.5rem;
  }
  .bg-left,
  .bg-right {
    opacity: 0.3;
    top: 6%;
  }
  .skill-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 15%;
  }
  .skill-container img:nth-of-type(odd) {
    justify-self: right;
  }
  .skill-container img:nth-of-type(even) {
    justify-self: left;
  }
  .skill-container img:nth-of-type(5) {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
  }
  .contact-inner-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-info-container {
    margin-top: 4rem;
  }
  .contact-info-container {
    margin-bottom: 2rem;
  }
  .project-card-inner {
    grid-template-columns: repeat(1, 1fr);
  }
  .project-card-inner p {
    padding: 0 8rem;
    margin: 4rem 3% 0 3%;
  }
}

@media (max-width: 768px) {
  #menuToggle {
    display: block;
    position: fixed;
    top: 2rem;
    left: 2rem;
    z-index: 1;
    user-select: none;
  }
  #menuToggle a {
    text-decoration: none;
    color: #e94560;
    transition: color 0.3s ease;
  }
  #menuToggle a:hover {
    color: #fff;
  }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #cdcdcd;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu {
    position: fixed;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #16213e;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  #menuToggle input:checked ~ ul {
    transform: none;
  }
  .navbar {
    display: none;
  }
  body {
    padding-top: 6rem;
  }
  .bg-left,
  .bg-right {
    display: none;
  }
  .bg-center {
    display: initial;
    position: absolute;
    width: 100%;
    top: 5%;
    left: 0;
    opacity: 0.4;
  }
  .mobile-navbar ul {
    flex-direction: column;
    align-self: center;
    align-items: center;
  }
  .mobile-navbar ul > li {
    margin: 1rem 0;
  }
  .project-card-inner {
    grid-template-columns: repeat(1, 1fr);
  }
  .project-card-inner p {
    padding: 0 3rem;
  }
  .project-card-inner img {
    max-width: 330px;
  }
  .contact-form-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem 2rem;
  }
}

@media (max-width: 500px) {
  .project-card-inner img {
    max-width: 220px;
  }
  .project-card-inner p {
    padding: 0;
  }
  .project-card ul > li {
    margin: 0 0.5rem;
  }
  #about {
    padding-top: 15rem;
    margin: 4rem 10% 4rem 10%;
  }
  .contact-form-container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem 0;
    border: none;
  }
  .contact-info-text {
    display: none;
  }
  .contact-info-icon {
    font-size: 3.7rem;
  }
  .contact-info-inner {
    border-radius: 50%;
    padding: 1.7rem;
  }
  #home-section p {
    font-size: 1.9rem;
  }
  #home-section h1 {
    font-size: 3.7rem;
  }
  html {
    font-size: 13px;
  }
}
